defaults:
  - _self_
  - task: cube-single
  - low_controller: gciql

pipeline_name: diffuser+gciql_test
run_alias: fix_short_gciql_achieve_subgoal
mode: train
seed: 0
device: cuda:0
project: Diffusion_OG
group: debug
# name: diffuser_test
enable_wandb: true

# Guidance
enable_distance_guidance: false
# guidance_type: MCSS # cfg, cg, MCSS


# Environment

# Planner Config
planner_solver: ddim
## Network Architecture
planner_emb_dim: 128
planner_d_model: 256
planner_depth: 4
planner_sampling_steps: 20
planner_predict_noise: True
planner_next_obs_loss_weight: 1
planner_ema_rate: 0.995
unet_dim: 32
plan_only_object_goal: false  # only plan for object position

## Policy Config
policy_solver: ddpm
policy_hidden_dim: 256
policy_diffusion_steps: 10
policy_sampling_steps: 10
policy_predict_noise: True
policy_ema_rate: 0.995
policy_learning_rate: 0.0003
critic_learning_rate: 0.0003

# Training
use_diffusion_invdyn: 0
invdyn_gradient_steps: 600000
policy_diffusion_gradient_steps: 600000
planner_diffusion_gradient_steps: 600000
batch_size: 256
log_interval: 1000
eval_interval: 5000
save_interval: 100000

# Inference
num_envs: 1
# num_episodes: 20
planner_num_candidates: 20
planner_ckpt: latest
critic_ckpt: 200000
policy_ckpt: 1000000
invdyn_ckpt: latest
planner_use_ema: True
policy_temperature: 0.5
policy_use_ema: True
low_controller_mode: achieve_subgoal # achieve_subgoal or plan_every_step

num_eval_episodes: 50
num_video_episodes: 1
video_frame_skip: 3

# hydra
hydra:
  job:
    chdir: false

